/* Global Page Styles */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f5f5f5;
}

/* Header Banner */

header {
    background-color: #003366;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

header p {
    margin: 0;
    font-weight: bold;
}

/* Main Content */

main {
    max-width: 840px;
    margin: 30px auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

h1 {
    color: #003366;
    text-align: center;
}

h2 {
    color: #003366;
}

/* Temple Image */

main img {
    width: 300px;
    height: auto;
    border: 2px solid #003366;
    padding: 5px;
    box-shadow: 0 0 10px gray;
    display: block;
    margin: 20px auto;
}

/* Paragraph */

p {
    padding: 0;
}

/* List */

ul {
    margin-left: 20px;
}

/* Footer Banner */

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 30px;
}

footer p {
    margin: 0;
}